---
import About from '../components/About.astro';
import FAQ from '../components/FAQ.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Signup from '../components/Signup.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <Hero />
    <Services />
    <About />
    <FAQ />
    <Signup />
  </main>
</Layout>
