---
import { ChevronLeftIcon } from '@heroicons/react/20/solid';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dispatch | Privacy & Legal">
  <div class="flex flex-col pt-16 mx-12 xl:mx-72 px-12 mb-16">
    <section class="pb-3.5">
      <p>
        <button class="py-1 px-2">
          <a class="inline-flex" href="/#footer">
            <ChevronLeftIcon className="h-5 w-5 self-center" />
            <span class="mx-2 text-sm">Back</span>
          </a>
        </button>
      </p>
    </section>

    <section class="pt-8">
      <h1 class="text-[40px] pb-2 mb-4">Privacy & Legal</h1>

      <h2 class="text-[28px] pt-8 pb-2">Privacy Notice</h2>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        This privacy notice discloses the practices for collecting, using, and
        sharing information on this website. This notice applies solely to
        information collected through this website. It outlines:
      </p>
      <ul class="list-disc ml-4 text-sm">
        <li>
          <span
            >What personally identifiable information is gathered, how it's
            utilized, and with whom it may be shared.</span
          >
        </li>
        <li>
          <span>Options available to you regarding the use of your data.</span>
        </li>
        <li>
          <span
            >Security measures in place to safeguard against misuse of your
            information.</span
          >
        </li>
        <li>
          <span>How you can rectify any inaccuracies in the data.</span>
        </li>
      </ul>

      <h2 class="text-[28px] pt-8 pb-2">
        Information Collection, Use, and Sharing
      </h2>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        We are the exclusive proprietors of the information collected on our
        sites. We solely obtain information that you willingly provide through
        email, contact forms, application forms, or other direct communications.
        Rest assured, we will not sell or rent this information.
      </p>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        We utilize your information to respond to your inquiries and fulfill
        your requests. Your information will not be disclosed to any third party
        outside of our organizations unless necessary for service provision.
      </p>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        Unless you instruct otherwise, we may contact you via email to inform
        you about promotions, new offerings, or changes to this privacy policy.
      </p>

      <h2 class="text-[28px] pt-8 pb-2">
        Personal Data Collected For The Following Purposes And Using The
        Following Services:
      </h2>

      <div class="pb-3.5">
        <p class="text-sm pb-1 max-w-[792.75px]">Analytics:</p>
        <ul class="list-disc ml-4 text-sm">
          <li>
            <span>Google Analytics</span>
          </li>
          <ul class="ml-8 list-disc text-sm">
            <li>
              <span>Personal Data: Cookie and Usage Data</span>
            </li>
          </ul>
        </ul>
      </div>

      <div class="pb-3 5">
        <p class="text-sm pb-1 max-w-[792.75px]">Contacting The User:</p>
        <ul class="list-disc ml-4 text-sm">
          <li>
            <span>Contact Forms</span>
          </li>
          <ul class="ml-8 list-disc text-sm">
            <li>
              <span
                >Personal Data: Address, Company name, Country, Email, Fax
                number, First Name, Last Name, Phone number, and ZIP/Postal code</span
              >
            </li>
          </ul>
        </ul>
      </div>

      <h2 class="text-[28px] pt-8 pb-2">Technologies We Use</h2>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        We employ technologies like cookies and pixels to monitor your
        activities on our website and serve you a more tailored experience. A
        cookie is a small text file stored on your device for record-keeping
        purposes. Session cookies expire upon closing your browser, while
        persistent cookies remain for an extended period.
      </p>

      <h2 class="text-[28px] pt-8 pb-2">
        Your Access To And Control Over Information
      </h2>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        You can opt out of future communications at any time. Please contact us
        via the provided email address or phone number to:
      </p>
      <ul class="list-disc ml-4 text-sm">
        <li>
          <span>Review any data we have about you.</span>
        </li>
        <li>
          <span>Amend or correct any data we have about you.</span>
        </li>
        <li>
          <span>Request the deletion of any data we have about you.</span>
        </li>
        <li>
          <span>Voice any concerns about our data usage.</span>
        </li>
      </ul>

      <h2 class="text-[28px] pt-8 pb-2">Security</h2>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        We take stringent measures to safeguard your information. Any
        information you submit via our website is protected both online and
        offline.
      </p>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        If you believe we are not adhering to this privacy policy, please
        contact us immediately.
      </p>
      <p class="text-sm pb-3.5 max-w-[792.75px]">
        To reach us, kindly use the contact details provided on our website.
      </p>
    </section>
  </div>
</Layout>
