---
import { Image } from '@astrojs/image/components';
import pic3 from '../img/pic3.jpeg';
---

<div id="about" class="min-h-screen flex flex-col xl:flex-row my-12">
  <section class="xl:w-1/2 flex">
    <div class="m-auto px-12">
      <Image src={pic3} alt="descriptive text" class="rounded-lg" />
    </div>
  </section>
  <section class="xl:w-1/2 flex flex-col">
    <div class="m-auto p-12">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7">
            The dispatch revolution
          </h2>
          <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
            Why Choose Us
          </p>
          <p class="mt-6 max-w-xl text-lg leading-8">
            Our professional dispatch firm is your gateway to running
            independently while enjoying unparalleled support and an extensive
            range of freight options.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 lg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Efficiency at its Finest:
              </dt>
              <dd class="inline">
                We relieve you from the burden of load hunting and paperwork,
                allowing you to concentrate solely on driving.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Seamless Paperwork:
              </dt>
              <dd class="inline">
                No more faxing or paperwork troubles. We take care of it all,
                ensuring everything is completed and emailed to you.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Endless Opportunities:
              </dt>
              <dd class="inline">
                Work with your current contacts or let us introduce you to new
                customers and brokers, expanding your reach.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Profitable Routes:
              </dt>
              <dd class="inline">
                Whether it's OTR or regional, we secure the best available
                options for you.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Flexibility Redefined:
              </dt>
              <dd class="inline">
                Embrace different payment options that fit your needs, utilizing
                our services as much or as little as desired.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Personalized Attention:
              </dt>
              <dd class="inline">
                We limit dispatching to a maximum of 5 trucks per dispatcher,
                ensuring you receive focused and personalized support.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>
</div>
