---
---

<!--
  TODO: redesign to match services section
  TODO: edit text
-->
<section
  id="about"
  class="bg-black w-screen text-white flex flex-col justify-center gap-7 text-center p-24"
>
  <h1 class="text-[34px]">About</h1>
  <p class="text-sm">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt temporibus
    velit eum harum labore, placeat totam ipsum ipsam sapiente nobis animi,
    sequi soluta corrupti numquam esse praesentium. Distinctio, dignissimos cum
    aliquid aspernatur dolore iusto quos vel deserunt, odit reiciendis modi
    error molestias excepturi reprehenderit ad vitae vero explicabo. Quaerat,
    accusamus!
  </p>
</section>
