---
import { Image } from '@astrojs/image/components';
import pic3 from '../img/pic3.jpeg';
---

<!--
  TODO: edit text
-->
<div id="about" class="h-screen flex bg-black text-white">
  <section class="w-1/2 flex">
    <div class="m-auto pl-12">
      <Image src={pic3} alt="descriptive text" class="rounded-lg" />
    </div>
  </section>
  <section class="w-1/2 flex flex-col">
    <div class="m-auto">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7">Deploy faster</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
            A better workflow
          </p>
          <p class="mt-6 text-lg leading-8">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
            impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis
            ratione.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 lg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Push to deploy.
              </dt>
              <dd class="inline">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Maiores impedit perferendis suscipit eaque, iste dolor
                cupiditate blanditiis ratione.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                SSL certificates.
              </dt>
              <dd class="inline">
                Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui
                lorem cupidatat commodo.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Database backups.
              </dt>
              <dd class="inline">
                Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus.
                Et magna sit morbi lobortis.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>
</div>
