---
import Accordion from './Accordion';
---

<section
  id="faq"
  class="bg-black w-screen text-white flex flex-col justify-center gap-12 text-center p-24"
>
  <h1 class="text-[34px]">F.A.Q.</h1>
  <Accordion client:visible />
</section>
