---
import Accordion from './Accordion';
---

<section
  id="faq"
  class="min-h-screen w-screen flex flex-col justify-center gap-6 text-center p-12"
>
  <h1 class="text-[34px]">F.A.Q.</h1>
  <Accordion client:visible />
</section>
