---
---

<header class="fixed w-screen px-8 py-4 flex place-content-between">
  <div class="logo">
    <a class="px-4" href="/">
      <span>Empire Logistics</span>
    </a>
  </div>
  <nav>
    <ul class="flex place-content-between">
      <li>
        <a
          class="py-1 px-2 hover:bg-black/5 hover:p-2 backdrop-blur-lg outline-offset-2 scroll-smooth ease-in-out rounded transition-all duration-500"
          href="#about"
        >
          <span class="mx-2">About</span>
        </a>
      </li>
      <li>
        <a
          class="py-1 px-2 hover:bg-black/5 hover:p-2 backdrop-blur-lg outline-offset-2 scroll-smooth ease-in-out rounded transition-all duration-500"
          href="#services"
        >
          <span class="mx-2">Services</span>
        </a>
      </li>
      <li>
        <a
          class="py-1 px-2 hover:bg-black/5 hover:p-2 backdrop-blur-lg outline-offset-2 scroll-smooth ease-in-out rounded transition-all duration-500"
          href="#faq"
        >
          <span class="mx-2">FAQ</span>
        </a>
      </li>
      <li>
        <a
          class="py-1 px-2 hover:bg-black/5 hover:p-2 backdrop-blur-lg outline-offset-2 scroll-smooth ease-in-out rounded transition-all duration-500"
          href="#signup"
        >
          <span class="mx-2">Sign Up</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
