---
---

<div class="relative flex justify-center h-screen overflow-hidden text-black">
  <div class="relative mt-36 z-10 flex flex-col justify-between">
    <section class="flex flex-col gap-1 text-center">
      <h1 class="text-[40px]">Dispatch Services</h1>
      <span>Book a Load Today</span>
    </section>
    <section class="mb-20 flex flex-col min-[640px]:flex-row gap-7">
      <button class="flex-grow">
        <a
          href="#services"
          class="border-[3px] border-transparent backdrop-blur-md rounded bg-[#F4F4F4]/[.8] text-[#393C41] py-2 px-20 flex items-center justify-center"
        >
          <span class="text-sm">Learn More</span>
        </a>
      </button>
      <button class="flex-grow">
        <a
          href="#signup"
          class="border-[3px] border-transparent backdrop-blur-md rounded bg-[#171A20]/[.65] text-white py-2 px-20 flex items-center justify-center"
        >
          <span class="text-sm">Start Now</span>
        </a>
      </button>
    </section>
  </div>
  <video
    class="absolute w-auto min-w-full min-h-full max-w-none self-center"
    autoplay
    preload="auto"
    playsinline
    muted
    loop
    poster="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Semi-Main-Hero-Poster-Desktop-Global"
    src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto:best/Semi-Hero-Desktop-Global.mp4"
  >
  </video>
</div>
