---
---

<section
  class="bg-[url('src/img/hero.jpeg')] h-screen bg-center flex justify-center"
>
  <section
    class="mt-14 pt-20 justify-self-center flex flex-col gap-5 text-center"
  >
    <h1 class="text-[40px]">Dispatch Services</h1>
    <div>
      <button>
        <a
          href="/"
          class="border-black border-solid border-[3px] rounded py-1 px-6"
        >
          <span class="text-sm">Get Started</span>
        </a>
      </button>
    </div>
  </section>
</section>

<!-- <section class="flex self-end justify-between text-white w-1/4 text-center">
    <div>
      <span class="text-2xl">FEATURE 1</span>
      <br />
      <span class="text-xs">Lorem,</span>
    </div>
    <div>
      <span class="text-2xl">FEATURE 2</span>
      <br />
      <span class="text-xs">ipsum</span>
    </div>
    <div>
      <span class="text-2xl">FEATURE 3</span>
      <br />
      <span class="text-xs">dolor.</span>
    </div>
  </section> -->
