---
---

<div
  class="bg-[url('src/img/hero.jpeg')] h-screen bg-center flex justify-center"
>
  <section
    class="mt-14 pt-20 justify-self-center flex flex-col gap-1 text-center"
  >
    <h1 class="text-[40px]">Dispatch Services</h1>
    <span class="text-sm">Book a Load Today</span>
  </section>

  <section
    class="absolute inset-x-0 bottom-0 mb-32 flex place-content-center gap-5"
  >
    <button class="">
      <a
        href="#services"
        class="border-[3px] border-transparent backdrop-blur-md rounded bg-[#F4F4F4]/[.8] text-[#393C41] py-2 px-20"
      >
        <span class="text-sm">Learn More</span>
      </a>
    </button>
    <button class="">
      <a
        href="#signup"
        class="border-[3px] border-transparent backdrop-blur-md rounded bg-[#171A20]/[.65] text-white py-2 px-20"
      >
        <span class="text-sm">Start Now</span>
      </a>
    </button>
  </section>
</div>
