---
import { Image } from '@astrojs/image/components';
import pic2 from '../img/pic2.jpeg';
---

<div id="services" class="min-h-screen flex flex-col xl:flex-row my-12">
  <section class="xl:w-1/2 flex flex-col">
    <div class="m-auto p-12">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7">
            Your logistics partner
          </h2>
          <p class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl">
            What We Offer
          </p>
          <p class="mt-6 max-w-xl text-lg leading-8">
            Our dispatch services are designed to empower you, allowing you to
            focus solely on the road ahead.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 lg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Effortless Load Management:
              </dt>
              <dd class="inline">
                We handle the tedious task of finding, coordinating, and
                tracking loads for you.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Tailored Trip Planning:
              </dt>
              <dd class="inline">
                Our custom trip planning ensures every journey is optimized for
                efficiency, safety, and revenue.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Financial Ease:
              </dt>
              <dd class="inline">
                Credit checks, factoring assistance, and top-rate negotiation –
                we handle the financial aspects, so you can drive with peace of
                mind.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Maximum Revenue:
              </dt>
              <dd class="inline">
                With our industry experience, we specialize in securing the
                highest paying loads.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Streamlined Operations:
              </dt>
              <dd class="inline">
                From invoicing to paperwork, we take care of it all. Focus on
                driving, while we manage the logistics.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Freedom to Choose:
              </dt>
              <dd class="inline">
                We prioritize your preferences and no forced dispatching means
                you're in control of your trucking journey.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold">
                <svg
                  class="absolute left-1 top-1 h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Safety and Growth:
              </dt>
              <dd class="inline">
                Elevate safety standards, enhance operational efficiency, and
                accelerate your revenue growth with our dedicated support.
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </section>
  <section class="xl:w-1/2 flex">
    <div class="m-auto px-12">
      <Image src={pic2} alt="descriptive text" class="rounded-lg" />
    </div>
  </section>
</div>
