---
import Form from './Form';
---

<section
  id="signup"
  class="min-h-screen w-screen flex flex-col justify-center gap-12 text-center p-24"
>
  <h1 class="text-[34px]">Sign Up</h1>
  <Form client:visible />
</section>
